@import '~node_modules/modern-normalize/modern-normalize.css';
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
a {
  text-decoration: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  outline: 0;
  outline-offset: 0;
}

:root {
  --primary-font-color: rgb(0, 0, 0);
  --secondary-color: rgb(126, 126, 126);
  --third-color: rgb(255, 255, 255);
  --true-color: rgb(3, 153, 0);
  --false-color: rgb(153, 0, 0);
  --primary-font-family: "Montserrat Alternates";
}

.container {
  width: 850px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}

.unique-container {
  width: 1100px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}

.flex-div {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.buttonForModal {
  outline: none;
  background-color: transparent;
  color: rgb(0, 0, 0);
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0%;
  width: 94px;
  height: 15px;
}

.header {
  padding-top: 25px;
  padding-bottom: 25px;
  background: rgb(255, 255, 255);
}

.logo-link {
  margin-right: 80px;
}

.logo-img {
  width: 95px;
  height: 40px;
}

.ul-link {
  display: flex;
  justify-content: center;
  align-content: center;
}

.div-nav {
  display: flex;
  align-items: center;
  margin-right: 300px;
}

.linka {
  color: rgb(0, 0, 0);
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: left;
}

.li-linka:not(:last-child) {
  margin-right: 50px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.operation-button {
  width: 25px;
  height: 25px;
  /* Auto layout */
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 5px 10px 5px 10px;
  border-radius: 20px;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
  background: rgb(0, 0, 0);
}

.game-container {
  width: 720px;
  height: 240px;
  margin: 20px auto;
  background-color: #333;
  border: 1px solid;
  position: relative;
  overflow: hidden;
}

.player {
  width: 47px;
  height: 44px;
  border: 1px solid blue;
  position: absolute;
  left: 20%;
  bottom: 0;
}
.player.jump {
  animation: jump 1.5s infinite;
}

@keyframes jump {
  0% {
    bottom: 0px;
  }
  25% {
    bottom: 60px;
  }
  30% {
    bottom: 60px;
  }
  100% {
    bottom: 0px;
  }
}
.obstacle {
  width: 17px;
  height: 34px;
  position: absolute;
  bottom: 0;
  left: 80%;
  border: 1px solid red;
  animation: moving 3s linear infinite;
}

@keyframes moving {
  0% {
    left: 100%;
  }
  100% {
    left: -1000px;
  }
}
.scientist-div {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  background: rgb(217, 217, 217);
}

.scientist-ul {
  display: flex;
  flex-wrap: wrap; /* Allows the list items to wrap if necessary */
  justify-content: space-between; /* Distributes space between items */
}

.parent-div-scientist {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 60px;
  grid-row-gap: 40px;
}

.scientist-li-div {
  border-radius: 20px;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
  background: rgb(0, 0, 0);
  padding: 20px 10px;
  color: rgb(255, 255, 255);
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0%;
}