.container {
  width: 850px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}
.unique-continer {
  width: 995px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}
.flex-div {
  display: flex;
  justify-content: center;
  align-content: center;
}
