<section class="calculator-section">
  <h2 class="visually-hidden"></h2>
  <div class="container">
    <input class="first-number-input" placeholder="введіть число" />
    <ul class="operation-list">
      <li class="operation-item">
        <button class="operation-button add-button">+</button>
      </li>
      <li class="operation-item">
        <button class="operation-button multiply-button">*</button>
      </li>
      <li class="operation-item">
        <button class="operation-button subtract-button">-</button>
      </li>
      <li class="operation-item">
        <button class="operation-button divide-button">/</button>
      </li>
    </ul>
    <input class="second-number-input" placeholder="введіть число" />
    <button class="equal-button">=</button>
    <p class="calculator-text-result">Результат</p>
  </div>
</section>
