<header class="header">
  <div class="unique-container flex-div">
    <a href="" class="logo-link">
      <img
        class="logo-img"
        srcset="
          ../assets/img/1x/logo1x.webp 1x,
          ../assets/img/2x/logo2x.webp 2x
        "
        alt=""
      />
    </a>
    <div class="div-nav">
      <nav class="navigation">
        <ul class="ul-link">
          <li class="li-linka">
            <div class="dropdown">
              <button
                class="btn btn-secondary dropdown-toggle"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Dropdown button
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li>
                  <a class="dropdown-item" href="#">Something else here</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="li-linka">
            <a class="linka" href="#">Наша команда</a>
          </li>
          <li class="li-linka">
            <a class="linka" href="#">Контакти</a>
          </li>
        </ul>
      </nav>
    </div>
    <!-- TODO:ToggleSwitch -->
    <button class="buttonForModal">Вітаємо, User!</button>
  </div>
</header>
