<section>
  <div class="container">
    <ul class="rps-ul">
      <li class="rps-li">
        <button class="rps-button rock-button">rock</button>
      </li>
      <li class="rps-li">
        <button class="rps-button scissors-button">scissors</button>
      </li>
      <li class="rps-li">
        <button class="rps-button paper-button">paper</button>
      </li>
    </ul>
    <div>
      <p class="rps-win-text">Перемоги гравця</p>
      <p class="rps-lose-text">Перемоги комп'ютера</p>
      <p class="rps-tie-text">Нічиї</p>
      <p class="rps-resulting-text">Вибір комп'ютера</p>
    </div>
  </div>
</section>
