<section>
  <div class="container">
    <ul class="rps-ul">
      <li class="rps-li">
        <button class="rps-button rock-button">rock</button>
      </li>
      <li class="rps-li">
        <button class="rps-button scissors-button">scissors</button>
      </li>
      <li class="rps-li">
        <button class="rps-button paper-button">paper</button>
      </li>
    </ul>
    <div>
      <p class="win-text">Перемог</p>
      <p class="lose-text">Прогрішів</p>
      <p class="tie-text">Нічия</p>
    </div>
  </div>
</section>
