<section class="scientist-section">
  <h2 class="visually-hidden"></h2>
  <div class="container">
    <div class="parent-div-scientist">
      <div class="scientist-div"></div>
      <div class="scientist-div"></div>
      <div class="scientist-div"></div>
      <div class="scientist-div"></div>
      <div class="scientist-div"></div>
      <div class="scientist-div"></div>
      <div class="scientist-div"></div>
      <div class="scientist-div"></div>
      <div class="scientist-div"></div>
      <div class="scientist-div"></div>
      <div class="scientist-div"></div>
      <div class="scientist-div"></div>
    </div>
    <ul class="scientist-ul">
      <li class="scientist-li">
        <div class="scientist-li-div">Які вчені народилися в 19 ст.</div>
      </li>
      <li class="scientist-li">
        <div class="scientist-li-div">Відсортувати вчених за алфавітом</div>
      </li>
      <li class="scientist-li">
        <div class="scientist-li-div">
          Відсортувати вчених за кількістю прожитих років
        </div>
      </li>
      <li class="scientist-li">
        <div class="scientist-li-div">
          Знайти вченого, який народився найпізніше
        </div>
      </li>
      <li class="scientist-li">
        <div class="scientist-li-div">
          Знайти рік народження Albert Einshtein
        </div>
      </li>
      <li class="scientist-li">
        <div class="scientist-li-div">
          Знайти вчених, прізвища яких починаються на на літеру “С”
        </div>
      </li>
      <li class="scientist-li">
        <div class="scientist-li-div">
          Видалити всіх вчених, ім’я яких починається на “А”
        </div>
      </li>
      <li class="scientist-li">
        <div class="scientist-li-div">
          Знайти вченого, який прожив найдовше і вченого, який прожив найменше
        </div>
      </li>
      <li class="scientist-li">
        <div class="scientist-li-div">
          Знайти вчених, в яких співпадають перші літери імені і прізвища
        </div>
      </li>
    </ul>
  </div>
</section>
