<section class="scientist-section">
  <h2 class="visually-hidden"></h2>
  <div class="container">
    <div class="parent-div-scientist"></div>
    <ul class="scientist-ul">
      <li class="scientist-li">
        <div id="scientist-button-1" class="scientist-li-button">
          Які вчені народилися в 19 ст.
        </div>
      </li>
      <li class="scientist-li">
        <button id="scientist-button-2" class="scientist-li-button">
          Відсортувати вчених за алфавітом
        </button>
      </li>
      <li class="scientist-li">
        <button id="scientist-button-3" class="scientist-li-button">
          Відсортувати вчених за кількістю прожитих років
        </button>
      </li>
      <li class="scientist-li">
        <button id="scientist-button-4" class="scientist-li-button">
          Знайти вченого, який народився найпізніше
        </button>
      </li>
      <li class="scientist-li">
        <button id="scientist-button-5" class="scientist-li-button">
          Знайти рік народження Albert Einshtein
        </button>
      </li>
      <li class="scientist-li">
        <button id="scientist-button-6" class="scientist-li-button">
          Знайти вчених, прізвища яких починаються на на літеру “С”
        </button>
      </li>
      <li class="scientist-li">
        <button id="scientist-button-7" class="scientist-li-button">
          Видалити всіх вчених, ім’я яких починається на “А”
        </button>
      </li>
      <li class="scientist-li">
        <button id="scientist-button-8" class="scientist-li-button">
          Знайти вченого, який прожив найдовше і вченого, який прожив найменше
        </button>
      </li>
      <li class="scientist-li">
        <button id="scientist-button-9" class="scientist-li-button">
          Знайти вчених, в яких співпадають перші літери імені і прізвища
        </button>
      </li>
    </ul>
  </div>
</section>
