<section class="scientist-section">
  <h2 class="visually-hidden"></h2>
  <div class="container">
    <div class="parent-div-scientist">
      <div class="div-scientist scientistDescription1">
        <ul class="private-scientist-info-ul">
          <li class="private-scientist-info-li">
            <p class="scientist-name">Albert Einstein</p>
          </li>
          <li class="private-scientist-info-li">
            <p class="scientist-years">1879-1955</p>
          </li>
        </ul>
      </div>
      <div class="div-scientist scientistDescription2">
        <ul class="private-scientist-info-ul">
          <li class="private-scientist-info-li">
            <p class="scientist-name">Isaac Newton</p>
          </li>
          <li class="private-scientist-info-li">
            <p class="scientist-years">1643-1727</p>
          </li>
        </ul>
      </div>
      <div class="div-scientist scientistDescription3">
        <ul class="private-scientist-info-ul">
          <li class="private-scientist-info-li">
            <p class="scientist-name">Galileo Galilei</p>
          </li>
          <li class="private-scientist-info-li">
            <p class="scientist-years">1564-1642</p>
          </li>
        </ul>
      </div>
      <div class="div-scientist scientistDescription4">
        <ul class="private-scientist-info-ul">
          <li class="private-scientist-info-li">
            <p class="scientist-name">Marie Curie</p>
          </li>
          <li class="private-scientist-info-li">
            <p class="scientist-years">1867-1934</p>
          </li>
        </ul>
      </div>
      <div class="div-scientist scientistDescription5">
        <ul class="private-scientist-info-ul">
          <li class="private-scientist-info-li">
            <p class="scientist-name">Johannes Kepler</p>
          </li>
          <li class="private-scientist-info-li">
            <p class="scientist-years">1571-1630</p>
          </li>
        </ul>
      </div>
      <div class="div-scientist scientistDescription6">
        <ul class="private-scientist-info-ul">
          <li class="private-scientist-info-li">
            <p class="scientist-name">Nicolaus Copernicus</p>
          </li>
          <li class="private-scientist-info-li">
            <p class="scientist-years">1473-1543</p>
          </li>
        </ul>
      </div>
      <div class="div-scientist scientistDescription7">
        <ul class="private-scientist-info-ul">
          <li class="private-scientist-info-li">
            <p class="scientist-name">Max Planck</p>
          </li>
          <li class="private-scientist-info-li">
            <p class="scientist-years">1858-1947</p>
          </li>
        </ul>
      </div>
      <div class="div-scientist scientistDescription8">
        <ul class="private-scientist-info-ul">
          <li class="private-scientist-info-li">
            <p class="scientist-name">Katherine Blodgett</p>
          </li>
          <li class="private-scientist-info-li">
            <p class="scientist-years">1898-1979</p>
          </li>
        </ul>
      </div>
      <div class="div-scientist scientistDescription9">
        <ul class="private-scientist-info-ul">
          <li class="private-scientist-info-li">
            <p class="scientist-name">Ada Lovelace</p>
          </li>
          <li class="private-scientist-info-li">
            <p class="scientist-years">1815-1852</p>
          </li>
        </ul>
      </div>
      <div class="div-scientist scientistDescription10">
        <ul class="private-scientist-info-ul">
          <li class="private-scientist-info-li">
            <p class="scientist-name">Sarah E. Goode</p>
          </li>
          <li class="private-scientist-info-li">
            <p class="scientist-years">1855-1905</p>
          </li>
        </ul>
      </div>
      <div class="div-scientist scientistDescription11">
        <ul class="private-scientist-info-ul">
          <li class="private-scientist-info-li">
            <p class="scientist-name">Lise Meitner</p>
          </li>
          <li class="private-scientist-info-li">
            <p class="scientist-years">1878-1968</p>
          </li>
        </ul>
      </div>
      <div class="div-scientist scientistDescription12">
        <ul class="private-scientist-info-ul">
          <li class="private-scientist-info-li">
            <p class="scientist-name">Hanna Hammarström</p>
          </li>
          <li class="private-scientist-info-li">
            <p class="scientist-years">1829-1909</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="buttons-parent-div">
      <div class="buttons-left-child">
        <button id="scientist-button-1" class="scientist-li-button">
          Які вчені народилися в 19 ст.
        </button>

        <button id="scientist-button-2" class="scientist-li-button">
          Відсортувати вчених за алфавітом
        </button>

        <button id="scientist-button-3" class="scientist-li-button">
          Відсортувати вчених за кількістю прожитих років
        </button>

        <button id="scientist-button-4" class="scientist-li-button">
          Знайти вченого, який народився найпізніше
        </button>
      </div>
      <div class="buttons-right-child">
        <button id="scientist-button-5" class="scientist-li-button">
          Знайти рік народження Albert Einshtein
        </button>

        <button id="scientist-button-6" class="scientist-li-button">
          Знайти вчених, прізвища яких починаються на на літеру “С”
        </button>

        <button id="scientist-button-7" class="scientist-li-button">
          Видалити всіх вчених, ім’я яких починається на “А”
        </button>

        <button id="scientist-button-8" class="scientist-li-button">
          Знайти вченого, який прожив найдовше і вченого, який прожив найменше
        </button>
      </div>
      <div class="button-bottom-child">
        <button id="scientist-button-9" class="scientist-li-button">
          Знайти вчених, в яких співпадають перші літери імені і прізвища
        </button>
      </div>
    </div>
  </div>
</section>
